<nav class="header my-0 navbar  navbar-light" style="background-color: rgb(71, 71, 71) ">
  <h1 class="mt-3 pl-1" style="color:white">Check Out Tour Operator Board</h1>
  <div style="padding-left: 0%; background-color: rgb(71, 71, 71)" class="d-flex py-3 ">
    <button type="button" class="btn btn-primary mx-2" (click)="clickPrevious()"><i class="fa-solid fa-left-long"></i></button>
    <h1 class="text-light m-1">{{currentDateString}}</h1>
    <button type="button" class="btn btn-primary mx-2 mr-2" (click)="clickNext()"><i class="fa-solid fa-right-long"></i></button>
  </div>
</nav>

<!--<table class="table mt-3">-->
<div class="container-fluid">
  <table class="table  mt-3" tabindex="0">
    <thead>
      <tr>
        <th scope="col">#Reservation Serial Number</th>
        <th scope="col">Tour Operator Name</th>
        <th scope="col">Reservation's Name</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tempReservations of departuresWithoutSelf">
        <td>{{tempReservations.id}}</td>
        <td>{{tempReservations.tourOperatorName}}</td>
        <td>{{tempReservations.reservationName}}</td>
        <td>{{tempReservations.checkInDate}}</td>
        <td>{{tempReservations.checkOutDate}}</td>
        <td>
          <button (click)="checkOutButtonClicked(tempReservations.tourOperatorName)" type="button" data-bs-toggle="modal" data-bs-target="#checkOutOperator" class="btn btn-success">Check Out</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container mt-2">
  <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="noDeparturesDetected && departuresWithoutSelf.length==0">
    <h1 style="text-align:center">{{errorMessage}} {{currentDateString}}</h1>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="checkOutOperator" tabindex="-1" role="dialog" aria-labelledby="checkOutOperatorLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Tour Operator Credit</h3>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Modal Body Start-->


      <div class="modal-body">
        <form [formGroup]="formValue">

          <div class="form-group">
            <span class="form-label">Total Price</span>
            <input formControlName="totalPrice" class="form-control" type="number">
          </div>

          <div class="form-group">
            <span class="form-label">Credit Price</span>
            <input formControlName="creditPrice" class="form-control" type="number">
            <div *ngIf="creditPrice.invalid && (creditPrice.dirty || creditPrice.touched)" class="alert alert-danger mt-1">
              <div *ngIf="creditPrice?.errors?.['required']">
                Credit Price is required
              </div>
            </div>
          </div>



        </form>
      </div>
      <!--Modal Body End-->
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"> </i> Close</button>
        <button type="button" (click)="paymentButtonClicked()" class="btn btn-success"> Payment</button>
      </div>
    </div>
  </div>
</div>

