
<footer class="footer mainDivSmallDevices-bounds">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
      <li class="social-icon__item">
        <a class="social-icon__link" href="https://www.instagram.com/kyriakos_kalkanis/">
          <i class="fa fa-instagram" style="color:white"></i>
        </a>
      </li>

      <li class="social-icon__item">
        <a class="social-icon__link" href="https://gr.linkedin.com/in/kyriakos-kalkanis-17b019219">
          <i class="fa fa-linkedin-square" style="color:white"></i>
        </a>
      </li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="/front">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="#">About</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>

    </ul>
    <p>©2022 Kyriakos Kalkanis | All Rights Reserved</p>
  </footer>
